.portada {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Fallback color */
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
